:root {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

html,
body {
    font-family: 'Raleway Regular', sans-serif ;
}

b {
    font-weight: bolder !important;
}

a {
    color: #FF6B34;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/*

#__next {
   padding-top: 70px;
}*/

#pageContainer {
    padding-top: 100px;
    padding-bottom: 30px;
    min-height: 90vh !important;
    
}

.invalid-feedback {

    display: block;
}


/******************************* */

.user_follow .img-fluid{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 18px;
  }
  .f_user_name{
    width: calc(100% - 40px);
  }
  .f_user_name p a{
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline !important;
  }
  .u_dat .btn-log{
    font-size: 10px;
    margin: 0 0 10px 0;
  }

/*******************************/

.rw_heder{
    background: #fcf2f0 url('/img/rwbg.jpg') no-repeat center right;
    background-size: contain;
    height: 180px;
    padding: 50px;
  }
  .rw_heder h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
  }
  .rw_heder h1 span{
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .rew_card{
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    display: flex;
  }
  .rew_icon{
    width: 80px;
    height: 80px;
  }
  .rew_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .rew_text{
    width: calc(100% - 80px);
    padding:0 15px;
  }
  .rew_text h6{
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }
  .rew_text h6 span{
    position: absolute;
    top: -14px;
    right: -30px;
    font-size: 11px;
    font-weight: 400;
    background: #50cc08;
    padding: 1px 7px;
    color: #fff;
  }
  .rew_text p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
  }



  /********** */


.float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 80px;
    right: 40px;
    background-color: #00C851;
    color: #FFF;
    border-radius: 300px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.my-float {
    margin-top: 14px;
    color: snow !important;
}

.float2 {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 130px;
    right: 40px;
    background-color: #F93154;
    color: #FFF;
    border-radius: 300px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}