:root {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

html,
body {
    font-family: 'Raleway Regular', sans-serif ;
}

b {
    font-weight: bolder !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/*

#__next {
   padding-top: 70px;
}*/

#pageContainer {
    padding-top: 100px;
    padding-bottom: 30px;
    min-height: 90vh !important;
    
}

.invalid-feedback {

    display: block;
}


/******************************* */

.user_follow .img-fluid{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 18px;
  }
  .f_user_name{
    width: calc(100% - 40px);
  }
  .f_user_name p a{
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline !important;
  }
  .u_dat .btn-log{
    font-size: 10px;
    margin: 0 0 10px 0;
  }





  /********** */


.float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 80px;
    right: 40px;
    background-color: #00C851;
    color: #FFF;
    border-radius: 300px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.my-float {
    margin-top: 14px;
    color: snow !important;
}

.float2 {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 130px;
    right: 40px;
    background-color: #F93154;
    color: #FFF;
    border-radius: 300px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}